{% extends "base.html" %}
{% block content %}
<main id="content" class="flex-grow flex items-center justify-center bg-base-200">
  <form action="/register" method="post">
    <fieldset class="fieldset w-xs bg-base-100 border border-base-300 p-4 rounded-box flex flex-col gap-2">
      <legend class="fieldset-legend">Register</legend>

      <label class="fieldset-label" for="username">Username</label>
      <input type="text" class="input" placeholder="Username" name="username" />

      <label class="fieldset-label" for="password">Password</label>
      <input type="password" class="input" placeholder="Password" name="password" />

      <label class="fieldset-label" for="repeat_password">Repeat Password</label>
      <input type="password" class="input" placeholder="Repeat Password" name="repeat_password" />
      <input class="btn btn-primary mt-4" type="submit" value="Sign Up" />
      <input type="hidden" name="token" value="{{token}}" />
    </fieldset>
  </form>
</main>
{% endblock %}
